@font-face {
    font-family: "THICCCBOI";
    src: url("/fonts/THICCCBOI-Bold.woff2") format("woff2"),
    url("/fonts/THICCCBOI-Bold.ttf") format("truetype"),
    url("/fonts/THICCCBOI-Medium.woff2") format("woff2"),
    url("/fonts/THICCCBOI-Medium.ttf") format("truetype");

}

@font-face {
    font-family:'inter';
    src: url("/fonts/Inter-Medium.woff2") format("woff2");
}